<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- För att få fragmentet att fungera som tänkt så måste det ha taggen som ska
    användas. Här nedan så ska den användas som "footer", därför måste taggen footer
    användas för att den ska fungera -->
    <footer class="mainFooter">
        <p class="address">Address: gatan xx-xx</p>
        <p class="phone">Phone: 075-XXX-XXX-XX</p>
        <p class="email">Email: bjoeanra@gmail.com</p>
        <p class="company">Company: beers-are-fun AB</p>
    </footer>
</body>
</html>